/* src/index.css */

body {
  background-color: #c1e4e7
}

/* Apply default styles and fonts */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Moonshine";   /*Can be any text*/
    src: local("Moonshine"),
      url("./fonts/Moonshine.ttf") format("truetype");
}

@font-face {
  font-family: "DirtyHeadline";   /*Can be any text*/
  src: local("DirtyHeadline"),
    url("./fonts/Dirty_Headline.ttf") format("truetype");
}

@font-face {
  font-family: "KgTen";   /*Can be any text*/
  src: local("KgTen"),
    url("./fonts/KgTen.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";   /*Can be any text*/
    src: local("Poppins"),
      url("./fonts/PoppinsRegular.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsBold";   /*Can be any text*/
    src: local("PoppinsBold"),
      url("./fonts/Poppins.ttf") format("truetype");
}

@font-face {
    font-family: "CoolVetica";   /*Can be any text*/
    src: local("CoolVetica"),
      url("./fonts/CoolVetica.otf") format("opentype");
}/* src/index.css */

/* Apply default styles and fonts */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Moonshine";   /*Can be any text*/
    src: local("Moonshine"),
      url("./fonts/Moonshine.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";   /*Can be any text*/
    src: local("Poppins"),
      url("./fonts/PoppinsRegular.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsBold";   /*Can be any text*/
    src: local("PoppinsBold"),
      url("./fonts/Poppins.ttf") format("truetype");
}

@font-face {
    font-family: "CoolVetica";   /*Can be any text*/
    src: local("CoolVetica"),
      url("./fonts/CoolVetica.otf") format("opentype");
}
